*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

ul,
ol {
    list-style: none;
}

li {
    margin-bottom: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.5;
    background: linear-gradient(to right bottom, rgb(43, 45, 51), rgb(25, 28, 37));
    font-family: "Poppins", sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-wrap: balance;
    font-weight: 800;
    color: var(--primary-accent);
}

h1 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

h4 {
    font-weight: 500;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

section {
    margin-bottom: 2rem;
}

#app {
    min-height: 100dvh;
}

.main__wrapper {
    padding-inline: min(5%, 5rem);
}

.hidden {
    display: none;
    /* animation: vanish 55ms; */
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

.rotate {
    transform: rotate(180deg);
}

.sub-text {
    font-size: 0.8rem;
}

footer {
    text-align: center;
    padding-block: 2rem;
    /* background-color: var(--footer-color); */
    font-size: 0.8rem;
}

.lg-screen__wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

@media (min-width: 800px) {
    .main__wrapper {
        border-radius: 24px;
        display: grid;
        grid-template-columns: min(250px, 256px) 1fr;
        gap: 2rem;
        padding-block: 2rem;
        background-color: rgb(22, 26, 43);
        margin-inline: min(10%, 10rem);
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    }

    .lg-screen__wrapper {
        /* justify-content: space-between; */
    }
}
