.header__wrapper {
}

.header__menu-icon {
    display: grid;
    place-items: end;
    margin-block: 1rem;
}

.header__info {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.header__info-text {
    text-align: right;
}

.header__avatar {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.header__contact {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-style: italic;
}

.header__contact-icon {
    margin-left: 0.5rem;
}
