.header__menu-icon {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__info-text {
    text-align: right;
}

.header__avatar {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.header__contact {
    margin-top: 0.5rem;
    font-style: italic;
    text-align: right;
}

.header__contact-icon {
    margin-left: 0.5rem;
}

@media (max-width: 374px) {
    h1,
    h2 {
        font-size: 1.25rem;
    }

    .sub-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 375px) {
    h1,
    h2 {
        font-size: 1.5rem;
    }
}
