.resume__section-header {
    margin-bottom: 0.5rem;
}

.resume__skill-title {
    font-weight: bold;
    user-select: none;
}

.profexp__header-text {
    margin-bottom: 0.5rem;
}

.profexp__job-title {
    text-decoration: underline white 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profexp__job-title:hover {
    cursor: pointer;
}

.profexp__job-item {
    margin-left: 0.25rem;
}

.profexp__job-item-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.profexp__employer-text {
    font-size: 0.8rem;
}

.profexp__job-description {
    font-size: 0.9rem;
    font-weight: 300;
}

.profexp__job-description > li {
    margin-left: 2rem;
    margin-bottom: 0.75rem;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: 0.2s;
}
